<div class="col-xs-12 col-md-12 col-lg-12">
  <div class="message animated pulse" >
    <div class="message-name">
      <p><strong>Numéro de réservation:</strong> <%= booking.id %></p>
      <h4>Dates :</h4>
      <p><%= booking.start_date%></p>
      <p><%= booking.end_date%></p>
    </div>
    <div class="message-body">
      <p><strong>Booking details</strong></p>
      <p> your <%= booking.car.brand%> is booked !</p>
      <p>
    </div>
    <div class="message-status">
      <% if current_user == booking.user %>
        <p class="status"> status <%= booking.status %></p>
      <% else %>
        <% if booking.status == "pending" %>
          <%= link_to "/bookings/#{booking.id}/accept", class: "edit-icon-circle" do %>
            <button type="button" class="btn btn-success">Accept</button>
          <% end %>
          <%= link_to "/bookings/#{booking.id}/decline", class: "edit-icon-circle" do %>
            <button type="button" class="btn btn-danger">Decline</button>
          <% end %>
        <% end %>
      <% end %>
      <p class="price"><%= booking.car.price %>EUR</p>
    </div>
  </div>
</div>
