<div class="container">
  <div class="row" id="my-profile">
    <div class="col-lg-12">
      <h3><strong> My Profile :</strong></h3>
        <p><%= cl_image_tag current_user.photo, height: 200 %><p>
        <p><%= current_user.first_name %></p>
        <p><%= current_user.last_name%></p>
        <p><%= current_user.email%></p>
    </div>
  </div>
  <div class="bnt-align" id="edit-profile-btn">
    <%= link_to "edit your profile", edit_user_registration_path(@current_user.id), id:"submit-btn" %>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li id="home-title" role="presentation" class="active"><a id="home-title-design" class="tab"  href="#home" aria-controls="home" role="tab" data-toggle="tab">My listings</a></li>
    <li id="bookings-title" role="presentation"><a id="bookings-title-design"  class="tab" href="#bookings" aria-controls="bookings" role="tab" data-toggle="tab">My bookings</a></li>
    <li id="rentals-title" role="presentation"><a id="rentals-title-design"  class="tab" href="#rentals" aria-controls="rentals" role="tab" data-toggle="tab">My rentals</a></li>
  </ul>
</div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="container" style="height: 60vh; background-color: white">
          <div class="row">
            <% if @cars.count > 0 %>

           <% @cars.each do |car|%>
             <div class="col-xs-12 col-md-6 col-lg-4">
                <%= render 'shared/card', car: car %>
             </div>
            <%end%>
            <% end %>
            <div class="col-xs-12 col-md-6 col-lg-4">
              <div class="dashboard-add-card hvr-grow">
               <%= link_to new_car_path, class: "edit-icon-circle" do %>
               <h3><i class="fas fa-plus"></i> Add a new car</h3>
               <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="bookings">
      <div class="container" style="height: 60vh; background-color: white">
        <div class="row">
          <% @bookings.each do |booking|%>
            <%= render 'dashboard/bookingcard', booking: booking %>
          <%end%>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="rentals">
      <div class="container" style="height: 60vh; background-color: white">
        <div class="row">
          <%  @rentals.each do |rental|%>
            <%= render 'dashboard/bookingcard', booking: rental %>
          <%end%>
        </div>
      </div>
    </div>
  </div>

