<div class="card" >
  <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "mclaren.jpg", crop: :fill %>);" >
  </div>
  <div class="card-footer">
    <div class="card-description">
      <h5>
        <b>Model: <%= car.model %></b><br>
        <em>Brand: <%= car.brand %></em><br>
        Price per a day: <%= car.price %> euros
      </h5>
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "card-user" %>
    </div>
  </div>
  <a class="card-link" href="/cars/<%= car.id %>" ></a>
</div>
