<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "mclaren.jpg", height: 40, width: 30, crop: :fill %>);">
  <div class="card-description">
    <h2>Model: <%= car.model %></h2>
    <p>Brand: <%= car.brand %></p>
  </div>
  <div class="card-price">Price per a day: <%= car.price %></div>
  <%= image_tag "mclaren.jpg", class: "card-user", height: 40, width: 40 %>
  <a class="card-link" href="/car/show" ></a>
</div>
