<div class="card" >
  <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path car.photo unless car.photo.blank? %>');" >
  </div>
  <div class="card-footer">
    <div class="card-description">
      <h5>
        <b>Model: <%= car.model %></b><br>
        <em>Brand: <%= car.brand %></em><br>
      </h5>
      <p>Price per day: <%= car.price %> euros</p>
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "card-user" %>
    </div>
  </div>
  <a class="card-link" href="/cars/<%= car.id %>" ></a>
</div>
