<div class="container">
  <%= render 'shared/searchform' %>
  <div class="row">
    <div class="col-xs-0 col-sm-3 ">
      <div class="refine-search">
        <button type="button" id="map-button" class="btn btn-success">
          <i class="fas fa-map-marked-alt"></i>
          Switch
        </button>

        <h4>Refine search</h4>
        <%= form_tag cars_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find by model"
          %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9">
      <div class="row" id="list" style="width: 100%;">
        <% @cars.each do |car| %>
          <div class="col-xs-12 col-sm-6">
            <%= render 'shared/card', car: car %>
          </div>
        <% end %>
      </div>
      <div class="map-div">
        <div
          id="map"
          style="width: 90vh;
          height: 300px;"
          data-markers="<%= @markers.to_json %>"
          >
        </div>
      </div>
    </div>

  </div>

</div>
