<div class="container">
  <%= render 'shared/searchform' %>
  <div class="row">
    <div class="col-xs-0 col-sm-3 ">
      <div class="refine-search">
        <button type="button" id="map-button" class="btn btn-success">
          <i class="fas fa-map-marked-alt"></i>
          Switch
        </button>

        <h4>Refine search</h4>
        <p>
          <%= form_tag cars_path, method: :get do %>
            <b>Select brand:</b>
            <%= select_tag "brands", options_for_select(@brands) %>
            <b>Select model:</b>
            <%= select_tag "models", options_for_select(@models) %>
            <b>Beginning:</b>
            <%= date_field("user", "start_date", min: Date.today) %>
            <b>End:</b>
            <%= date_field("user", "end_date", min: Date.today) %>
            <b>Select price:</b>
            <%= select_tag "prices", options_for_select(@prices) %>
          <% end %>
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9">
      <div class="row" id="list" style="width: 100%;">
        <% @cars.each do |car| %>
          <div class="col-xs-12 col-sm-6">
            <%= render 'shared/card', car: car %>
          </div>
        <% end %>
      </div>
      <div class="map-div">
        <div
          id="map"
          style="width: 90vh;
          height: 60vh;"
          data-markers="<%= @markers.to_json %>"
          >
        </div>
      </div>
    </div>

  </div>

</div>
