<div class="banner banner_show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @car.photo %>')">
</div>

<div class="container">
  <h1><%= @car.brand %></h1>
  <h2><%= @car.model %></h2>
  <p>Tarif journalier: <%= @car.price %> €</p>
  <hr>
</div>

<div class="container">
  <div class="container-content">
    <h4>Description</h4>
    <p><%= @car.description %></p>
  </div>
  <div class="container-content">
    <h4>Owner</h4>
    <p><%= @car.user %></p>
  </div>
  <div class="container-content">
    <h4>Reviews</h4>
  </div>
</div>




