<div class="container">
  <h1><%= @car.brand %></h1>
  <h2><%= @car.model %></h2>
  <p>Tarif journalier: <%= @car.price %> €</p>
  <hr>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <span><%= image_tag "audirs8.jpg"%></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <span><%= image_tag "audirs8.jpg"%></span>
    </div>
    <div class="col-xs-12 col-sm-4">
      <span><%= image_tag "audirs8.jpg"%></span>
    </div>
    <div class="col-xs-12 col-sm-4">
      <span><%= image_tag "audirs8.jpg"%></span>
    </div>
    <div class="col-xs-12 col-sm-4">
      <span><%= image_tag "audirs8.jpg"%></span>
    </div>
    <div class="col-xs-12 col-sm-4">
      <span><%= image_tag "audirs8.jpg"%></span>
    </div>
  </div>
  <hr>
</div>

<div class="container">
  <div class="container-content">
    <h4>Description</h4>
    <p><%= @car.description %></p>
  </div>
  <div class="container-content">
    <h4>Owner</h4>
    <p><%= @car.user %></p>
  </div>
  <div class="container-content">
    <h4>Reviews</h4>
  </div>
</div>




