<div class="banner banner_show" style="background-image: url('<%= cl_image_path @car.photo %>')">
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1><%= @car.brand %></h1>
      <h2><%= @car.model %></h2>
      <h4>Description</h4>
      <p><%= @car.description %></p></br>
      <h4>Owner</h4>
      <p><%= @car.user.first_name %></p></br>
      <h4>Reviews :</h4>
      <% if @reviews.length > 0 %>
        <% @reviews.each do |review| %>
          <p><%= review.content %></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card_booking">
        <p><%= @car.price %> €/day</p>
        <div class="form-group text-center">
          <%= form_tag(car_bookings_path(@car), method: :post) do %>
            <b>Beginning:</b>
            <%= date_field(:booking, "start_date", min: Date.today) %>
            <b>End:</b>
            <%= date_field(:booking, "end_date", min: Date.today) %>
          <%= submit_tag ("Drive a car"), class: 'btn btn-primary btn_book' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <i class="fas fa-chevron-left" aria-hidden="true">
      <%= link_to "Back to selection", cars_path, class: "link" %>
  </i>
</div>

<div class="btn-align" id="edit-car-btn">
      <% if policy(@car).edit? %>
        <%= link_to "edit your car", edit_car_path(@car.id), id:"submit-btn" %>
      <% end %>
</div>
